@import url('https://fonts.googleapis.com/css2?family=Brygada+1918:ital,wght@1,500&display=swap');

*{ 
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Brygada 1918', serif;
}

#menu{
    background-color: #446A2F;
    display: flex ;
    flex-direction: row;
    height: '144px';
    color: white;
    padding: 5px;
    position: fixed;
    width: 100%;
    font-size: 1.5rem;
}

.title {
    font-size: 45px;
    margin-top: 25px;
    margin-left: 25px;
}

.subtitle {
    margin-top: 35px;
    margin-bottom: 21px;
}



#linhadotempo{
    background-color: #cfbf545e;
    height: 2200px;
}

.icon{
    background-color: #446A2F;
    width: 50px;
    height: 100px;
    display: inline-block;
}


.curiosidades{
    display: flex;
    background-color: #cfbf545e;
    
}

#fundo {
    border-radius: 25px;
   
}